.navbar-links{
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex: 1;
  z-index: 999;
  margin-top: 5px;    
}

.header-contact {
  #msvg svg {
    width:35px;
    height:auto;
    position: relative;
    z-index: 9;
    cursor:pointer;

    g{
      stroke:#000 !important
    }
  }

  #msvg{
    padding-top: 1%;
    display:none;
  }
}
.header-about, .healthier-header, .magazine-header, .header-home {
  #msvg svg {
    width:35px;
    height:auto;
    position: relative;
    z-index: 9;
    cursor:pointer;

  }

  #msvg{
    padding-top: 1%;
    display:none;
  }
}

#logo{
  flex:1;
  z-index: 99;
  }
  nav{
  display: flex;
  justify-content: space-between;
  z-index: 9;
  margin-top:2%;
    a img {
    width:150px;
    height: auto;
  
  }
  #menu svg {
    width:35px;
    height:auto;
    position: relative;
    z-index: 9;
    cursor:pointer;

  }
  #menu{
    padding-top: 1%;
    display:none;
  }
  
  }
  
.header-about nav{
a{color:#FFF}
}
.magazine-header nav, .header-contact nav, .header-blog nav{
a{color:#000}
}
.header-blog .header-image {
margin-top:0;
}

.header-blog #logo{
  transform: translateY(12px);
z-index: 99;
width:50%;
 a{
  margin-left: 10%;
 }
}
.header-blog .pop-btn{
    padding-left: 0;
    font-size: 1.1em;
    position: relative;
    height: 45px;
    line-height: 2.6;
    text-align: left;
    text-indent: 25px;
}
.header-blog .pop-btn a{
  color: white;
    display: block;
    position: absolute;
    text-indent: 11px;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}
.header-blog #menu svg{
  width: 20px;
    height: auto;
     position: absolute; 
    z-index: 9;
    cursor:pointer;

}
.header-blog #menu{
  // padding-top: 1%;
  display:none;
  text-align: right;
  width: 46%;
}
.pop-btn svg path{
  stroke: #FFF !important;
}
.header-blog nav{
  background:#FFF;
  margin-top: 0 !important;
  position:fixed;
  height: 67px;
  width:100%;
  z-index: 99999 !important;
  box-shadow: 0 10px 50px rgba(25,37,52,.14), 0 2px 5px rgba(25,37,52,.03);
}
.header-blog .pop-btn{
  width: 167px;
  margin-top: 0;
  margin-bottom: 15px;
  margin-right: 30px;
  transform: translateY(2px);
}
.header-blog  nav{
display: flex;
justify-content: space-between;
z-index: 9;
margin-top:2%;
  a img {
  width:100px;
  height: auto;

}

.container-nav{
width: 100%;
  div{display: inline-block !important}
}

#menu #msvg {
  width:35px;
  height:auto;
  position: relative;
  z-index: 9;
}

}

.sidebar{
  display: none;
  position: fixed;
  width: 365px;
  z-index: 99999;
  top: 0;
  right: -50%;
  height: 100vh;
  background:#FFF; // fall back color
  background: linear-gradient(351deg, rgba(0,0,0, 1) 0%, rgba(242,38,19,1) 96%);
  ul{
    margin-top: 1%;
    margin-left: 5%;
    li:nth-child(2) svg{
      transform:translate(-45%, 26%) !important;
    }
    li{
       font-size: 1.5em;
      list-style: none;
      margin-bottom: 6%;
      a {color:#FFF;}
      svg{
        transform:translate(-55% ,26%);
        width:38px;
        height:38px;
        path{
          stroke:#FFF;
        }
      }
    }
  }

.logo-nav{
  text-align: center;
  svg{
  width: 114px;
  height: 99px;
  }
}
.sidebar-exit{
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: -13.7%;
  background:rgba(242,38,19,1); // fall back color    
  box-shadow: -19px 9px 15px 3px rgba(0, 0, 0, 0.25);
  cursor:pointer;
  svg{
    margin-left: 20%;
    margin-top: 15%;
    path{
      stroke:#FFF;
    }
  }
}

}

.body-overlay{
position: fixed;
background: rgba(0,0,0,.80);
width: 98vw;
height: 100%;
left: 0;
right: 0px;
top: 0;
opacity: 0;
z-index: 999;
display: none;
}

// contact navbar 
.header-contact, .header-course, .header-blog{
  #menu{
  svg path{
    stroke:black;
  }
}
}

// contact navbar 
.header-contact, .rodbell-header, .healthier-header{
  #menu{
  svg path{
    stroke:black;
  }
}
}

// Navbar Links Colors

.hColor{
color:#FFF
}
// Magazine Navbar Links Colors
.magazine-header nav {
	.hColor, .mColor{
		color:white;
	}
}