<!-- the usual meta tags -->

<head>
<title>{{ .Title }}</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179495905-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179495905-1');
</script>



<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#f22613">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{.Site.BaseURL}}assets/images/ms-logo.png">
<meta name="application-name" content="unnus">
<meta name="apple-mobile-web-app-title" content="unnus">
<meta content="IE-edge, chrome=1" http-equiv="X-UA-Compatable">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<link rel='shortcut icon' type='image/x-icon' href="{{.Site.BaseURL}}/favico.png" /> 
<link rel="apple-touch-icon-precomposed" href="{{.Site.BaseURL}}assets/images/icon-touch-small.png">
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{.Site.BaseURL}}assets/images/icon-touch-small.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{.Site.BaseURL}}assets/images/icon-touch-medium.png">
<link rel="canonical" href="{{.Permalink}}" />
<meta name="description" content="{{ $.Params.description }}" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{ $.Params.title }}">
<meta name="twitter:description" content="{{ $.Params.description }}">
<meta name="twitter:site" content="@unnus_" />
<meta name="twitter:creator" content="{{if $.Params.twitterHandle}}{{$.Params.twitterHandle}}{{else}}{{$.Site.Params.twitterHandle}} {{end}} ">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{if $.Params.socialThumbnail}}{{.Site.BaseURL}}{{$.Params.socialThumbnail}}{{else}}{{$.Site.Params.socialThumbnail}} {{end}}">
<meta property="og:title" content="{{ $.Params.title}}" />
<meta property="og:locale" content="en_US">
<meta property="og:type" content="{{if $.Params.table_of_content }} article {{ else }} website {{end }}">
<meta property="og:description" content="{{ $.Params.description }}">
<meta property="og:url" content="{{.Permalink }}">
<meta property="og:site_name" content="unnus">
<meta property="article:publisher" content="https://www.facebook.com/unnus">
<meta property="article:published_time" content="{{.Page.Date}}" />
<meta property="article:modified_time" content="{{.Page.Lastmod}}">
<meta property="og:image" content="{{if $.Params.socialThumbnail}}{{.Site.BaseURL}}{{$.Params.socialThumbnail}}{{else}}{{$.Site.Params.socialThumbnail}} {{end}}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">

<script type="application/ld+json">
{{ if eq .Section "medical" }}
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline":"Healthcare Branding | unnus",
  "image": "https://unnus.com",
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05" | safeJS | htmlUnescape | plainify }}",
  "dateModified": "{{ .Date.Format "2006-01-02T15:04:05" | safeJS | htmlUnescape | plainify }}",
  "author": {
    "@type": "Person",
    "name": "Sliman M. Baghouri"
  },
  "mainEntityOfPage": { "@type": "WebPage" },
   "publisher": {
    "@type": "Organization",
    "name": "unnus",
    "logo": {
      "@type": "ImageObject",
      "url": "https://unnus.com/assets/images/default-card.png"
    }
  },
  "description": "Explore medical growth, healthcare branding and marketing strategies by unnus team",
  "keywords": ["Healthcare branding", "Medical branding", "Healthcare marketing", "Healthcare strategies"]
}
{{ end }}
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "unnus",
  "url": "https://unnus.com",
  "sameAs": [
    "https://www.facebook.com/unnus",
    "https://www.instagram.com/unnus_",
    "https://twitter.com/unnus_",
    "https://github.com/unnus"
  ],
  "contactPoint": [
            {
              "@type" : "ContactPoint",
              "contactType" : "customer service",
              "email": "hello@unnus.com",
              "url": "https://unnus.com/contact"
            }
          ]
}

</script>

{{ $sass := resources.Get "sass/main.scss" }}
{{ $style := $sass | resources.ToCSS | resources.Minify | resources.Fingerprint}}

<link rel="stylesheet" href="{{ $style.Permalink}}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.0/dist/cookieconsent.css">

<!--noptimize-->
<script type="text/javascript">
function downloadJSAtOnload() {
var element = document.createElement("script");
element.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2627299206345945";
document.body.appendChild(element);
}
if (window.addEventListener)
window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>

<!--/noptimize-->

<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2627299206345945"
     crossorigin="anonymous"></script>
 -->

</head>