<nav>
	<a href="/"><img src="/assets/images/unnus-logo.png" alt="unnus logo"></a>

		<ul class="navbar-links"> 
			<li><a href="/charismatic-medical-brand">Free Course</a></li>
			<li><a href="/podcast">Podcast</a></li>
			<li><a href="/manifesto">About</a></li>
			<li><a href="/medical" class="hColor" href="/">Magazine</a></li>
			<li><a href="/contact" class="hColor" href="/">Contact</a></li>
		</ul>
	<div id="menu">
		<svg viewBox="0 0 152 85" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g stroke="#fff" stroke-width="12.5"><path d="M6.25 6.25h139.456M6.25 42.459h139.456" fill="none"/><path d="M6.25 78.669h139.456" fill="#fff"/></g></svg>	
</div>
</nav>
