.header-about{
	height: 100vh;
	.header-text{
		height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(171deg, rgba(0,0,0, 1) 13%, rgba(242,38,19,1) 98%);
    		z-index: -1;
		display: flex;
    align-items: center;		
	}
    h2{
		color:#FFF;
		font-size:2.6em; 
		font-weight: 300;
		text-align: center;
	}
}

.manifesto{
  width: 650px;
  margin: 0 auto;
  h2{
		 font-size:2.8em;
  }
  p{
    font-size: 1.5em;  	
  }
}

.logo-section{
	background:#000;
	padding:90px;
	// padding-bottom:0;
	margin-bottom:0;
	.container{
		text-align:center;
	}
	svg{
		width:500px;
		margin-bottom:60px;
	}
	p{
		color:#FFF;
		margin:30px 0 30px 0;
		font-size:2em;
		width:600px;
		margin:0 auto;
	}
}