.header-podcast{
	.btns{
		display: flex;
	}
	height: 100vh;
	.podcast-header-text{
		width: 550px;
		margin-top:7%;
		h1{
			font-size:3.8em;
		}
		p{
			margin-bottom: 10%;
		}
		.btn-s{
			background:#000;
			overflow: hidden;
			display: block;
			&:first-child{
				margin-right:15px;
			}
			&:last-child{
				background:#f22613;
			}
			svg{
				bottom:34%;
			}
		}
	}
	.header-image {
		img{
			position: absolute;
			top:0;
			right:0;
			height: 100%;
		}
	}
}

.latest-episodes{
	margin-top:0;
	h2{
		text-align: center;
    font-size: 3.5em;
    font-weight: 300;
	}
}

.latest-episodes{
	.ep-holder{
		margin-top:15%;		
		display: flex;
		.guest-card{
			overflow:hidden;
			position:relative;
			.guest-pic-overlay{
				position: absolute;
				top:0;
				width:100%;
				height:50%;
				background: linear-gradient(180.99deg, rgba(0, 0, 0, 0) 0.85%, rgba(242, 38, 19, 0.25) 97.8%);
			}
			.podcast-platforms{
				background: #F1F3F6;
		    border-radius: 20px;
		    width: 67%;
		    padding: 16px;
		    left: 50%;
		    transform: translateX(-50%);
		    bottom: 2%;
		    display: flex;
		    position: absolute;
		    justify-content: space-around;
		    box-shadow: -1px 12px 40px 4px rgba(0,0,0, .10);
			}
			.mic-svg{
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    z-index: -9;				
			}
			.card-text{
				display: flex;
		    flex-direction: column;				
		    margin-top:8%;
		    .first, .second{
    	    display: flex;
			    padding: 20px;
		    }
				.first{
					display: flex;
			    padding: 20px;
			    svg{
	    	    transform: translateY(26%);
			    }
				}
				.second{
					svg{
						transform: translateX(14px);
					}
					h3{
				    width: 80%;
				    margin-left: 8%;
				    margin-top: -9%;
					}
				}
			}
			flex:.4;
			height: 733px;
			background: linear-gradient(180deg,rgba(242,38,19,0.28) 0%,rgba(238,171,165,0) 100%,rgba(238,171,165,0) 100%);
			filter: drop-shadow(40px 40px 100px rgba(179, 169, 222, 0.2));
			border-radius: 40px;
			.guest-picture{
				position:relative;
				width:100%;
				height: 50%;
				border-top-right-radius:29px;
				border-top-left-radius: 29px;
				svg{
					position: absolute;
			    bottom: -12%;
			    left: 50%;
			    transform: translateX(-50%);
			    z-index: 9;
				}
			}
		}
		.guest-ep-description{
			flex:.6;
		}
	}

	.ep-discussion{
		padding:0 10%;
		h2{
			font-size:4em;
			text-align: left;
		}
	}
}

/* PODCAST SEASONS LANDING PAGES */

.header-podcast-season{
	height:100vh;
	background:#F22613;
	position:relative;
	#menu{
		svg g{
			stroke:#000;
		}
	}
	.svg-logo{
    position: absolute;
    right: 0px;
    width: 605px;
    height: 620px;
    bottom: 0;
	}
	.podcast-header-text{
		width:550px;
		a{			
			background:#000;
			overflow: hidden;
			display: block;
			svg{
				bottom:34%;
			}

		}
		h1{
	    font-size: 4.1em;
	    font-weight: 300;
		}
		p{
	    font-size: 1.5em;
	    color:#000;
		}
	}
	nav{
		margin-top:0;
	}
	#logo{
    margin-top: 2%;
	}
	#menu{
    margin-top: 3%;
	}
}

/* PODCAST EPISODE HEADER */

.podcast-episode-header{
		#logo{
			// width: 408px;
	  //   height: 81px;
	  //   background: url(/assets/images/podcast/care-frontiers-black-logo.png);
	  //   background-size: 100% 100%;
				a{
			    display: block;
			    width: 100%;
			    height: 100%;
				}
		}
		.text-content{
			width:550px;
			margin-top:4%;
			h1{
				width:550px;
				&:after {
				    bottom: 88%;
				}
			}
		}
	.podcast-platforms{
		background: #F1F3F6;
		margin-top: 10%;
    border-radius: 20px;
    width: 270px;
    padding: 7px;
    display: flex;
    justify-content: space-around;
    box-shadow: -1px 12px 40px 4px rgba(0,0,0, .10);
	}
}

.show-notes{
	iframe{
		// height:160px !important;
	}

	h2{
		font-weight: 300;
	}
	.guest-info-holder{
		li{
	    margin-bottom: 3%;
		}
		a{
	  position: relative;
	  text-decoration: none;
	  display: inline-block;
	  color: #0031e4;
	  padding: 0 1px;
	  transition: color ease 0.3s;
	  
	  &::before, &::after {
	    content: '';
	    position: absolute;
	    background-color: $underlineColor;
	    z-index: -1;
	    height: $underlineHeight;
	  }
	  
	  &::before {
	    width: 0%;
	    left: 0;
	    bottom: 0;
	    transition: width ease 0.4s;
	  }
	  
	  &::after {
	    width: 100%;
	    left: 0;
	    bottom: 0;
	    transition: all ease 0.6s;
	  }
	  
	  &:hover {

	    &::before {
	      width: 100%;
	    }
	    
	    &::after {
	      left: 100%;
	      width: 0%;
	      transition: all ease 0.2s;
	    }
	  }
	}

		display: flex;
    justify-content: space-between;
	}
	.guest-resources{
		flex:.5;
		padding:30px;

	}
	.guest-contact{
		flex:.5;
		padding:30px;
		padding-left:60px;
		border-left: 2px solid #F1F3F6; 
	}


}
.ep-text{
	 a{
	 	color:blue;
	 }
	 margin-bottom: 0;
	 padding-bottom: 0;
	
	.episode-transcription{
		background:#000;
		text-align: center;
		h2{
			color:#FFF; 
			padding-top:5%;
			font-weight: 300
		}
	}
	.transcript-holder{
    padding-bottom: 4%;
		.transcript{
				margin: 0 auto;
		    text-align: center;
		    width: 71%;
		    margin-top: 9%;
		}
 
	 	p:nth-child(even) {
	    text-align: left;
	    white-space: pre-line;
	    overflow: hidden;
	    color:#ffffff80;
	    margin-bottom: 77px;
	  }
	  
	  p:nth-child(odd) {
	    color: #fff;
	    float: left;
	    margin-right: 36px;
	    width: 8%;
		}		

	}	
	
}