.whitepapers-header{
			.right-header svg{
	   	height: 100vh;
	    bottom: -10%;
	    right: 2%;
	    position: absolute;			
		}
}
.whitepapers-all-posts{
	.post{
    margin-bottom: 5%;
	}
	.post-headline{
    padding: 19px 70px;
    background: #FFF;
    transform: none;
    width:70%;
    margin: 0 auto;
    box-shadow: none;
    > h2{
	    font-size: 2.2em;
	    font-weight: 900;
    }		
		.author{
			width:35%;
			img{
				// width:50px;
			}
		}
	}
	.body-teaser{
		margin-top:5%;
		section{
			margin:0;
			padding:0;
		}
		section:first-child p:first-child{
			font-weight: bold;
		}
	}

	.btn-s{
		width:100%;
		margin-top:0%;
		display: block;
		text-align: center;
		svg{right: 6%;bottom: 33%;}
	}
	.btn-s:hover svg{right:4%}

	.post-thumbnail{
		img{
			width: 662px;
	    height: 300px;
		}
	}
}