<header class="split-header caresect-header">
	<div class="right-header">

	</div>

	<div class="container">
				{{ partial "navbar.html" . }}
	</div>
		<div class="container centered-container">
			<div class="text-content">
					<h1 class="before-line reveal-text">Season DUO</h1>
					<p class="reveal-text">This is the first Season of Care Frontiers Podcast NYC's uprising private psychiatric clinic, providing the highest level of psychiatric care in the last five years</p>
			</div>
		</div>
</header>
