<header class="header-contact email-confirmation-header">
		<div class="container">
						{{ partial "navbar.html" . }}
		</div>
		<div class="container" style="text-align: center;">
			<div  class="header-content-contact">
				<div class="img-confirm">
							<img src="/assets/images/email-confirmation.png" alt="One last step illustration">
				</div>
				<div class="text-confirm">
					<h1>You're almost done...</h1>
					<h1>One Last Step: Confirm Your Email :)</h1>
					 <p>The email is coming from me Sliman Baghouri, the founder. </p>
					 <p>
					 If it doesn't show up in the next few minutes, Check your <b>spam</b> or if you're a <b>gmail user check the promotions tab</b>.</p>				
				</div>
			</div>
				<img class="Econfirmation-screenshot" src="/assets/images/screenshot-of-email-confirmation.png" alt="screenshot of an example email">
		</div>
</header>
