<header class="header-contact email-confirmation-header">
		<div class="container">
						{{ partial "navbar.html" . }}
		</div>
		<div class="container" style="text-align: center;">
			<div  class="header-content-contact">
				<h1 class="reveal-text">Thank you for trusting us with your email.<br/> Check your inbox for confirmation</h1>
				 <p>The email is coming from me Sliman Baghouri, the founder. </p>
				 <p>

				 If it doesn't show up in the next few minutes, Check your <b>spam</b> or if you're a <b>gmail user check the promotions tab</b></p>
			</div>
				<img class="Econfirmation-screenshot" src="/assets/images/thankyou.png" alt="screenshot of an example email">
		</div>
</header>
