
<header class="header-home course-home-header">
<div class="container">

	  {{ partial "navbar.html" . }}

</div>
<div class="container">
	<div class="header-content">
		<!-- <h1>Cut through the "me too" healthcare brands and </h1> -->
		<h1 class="bold">Use These Simple "Plug n Play" Branding Exercises To Attract Loyal Patients, Differentiate Your Brand, and Get Your Message Across.
</h1>
		<p>
			Get our free 6-parts email series that covers:
		</p>
		<ul class="ul-checklist">
			<li>25+ Free Branding Exercises to help attract high-value patients</li>
			<li>How to skyrocket patient retention and build cult-like loyalty</li>
			<li>Differneitate your brand from the "lookalikes"</li>
			<li>How to send your messages straight into people's brains</li>
		</ul>
		<a href="/charismatic-medical-brand">
			<button style="width: 285px;" class="btn-s">Download Exercises <svg viewBox="0 0 59 58" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g fill="none" stroke="#fff" stroke-width="9.38"><path d="M2.688 28.863h50.054M31.231 2.688l24.576 26.175-24.576 26.175"/></g></svg></button>			
		</a>

</div>
</div>

<div style="background:url('/assets/brand-strategy-media/bg.jpg');background-size:cover;" class="black-header">

</div>
</header>