<header class="header-work header-course">
		<div class="container">
					{{ partial "navbar.html" . }}
		</div>
		<link as="style" href="https://use.typekit.net/nia0lya.css"  rel="stylesheet preload prefetch" >
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link  rel="stylesheet preload prefetch"  href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" as="style">
		
		
	<div class="container">
		<div class="header-work-text split-parent ">
				<h1 class="before-line reveal-text split-child">Case studies, coming soon...</h1>
				<p class="reveal-text">See our latest visual identity work we have done with healthcare our clients. The following visuals are based on tons of research and concrete strategies behind them.</p>
			</div>
		</div>
</header>