<header class="header-contact">
		<div class="container">
					{{ partial "navbar.html" .}}
		</div>
		<div class="container">
			<div class="header-content-contact">
				<h1 class="reveal-text">Talk to our director</h1>
				<p>He usually replies within 24h</p>
				<form name="contact" method="POST" data-netlify="true" class="contact-form">
					<input required="required"  name="name"  class="input-s" placeholder="What's your name?" type="text">
					<input required="required" name="email" class="input-s" placeholder="Your best email address" type="email">
					<textarea name="message" required="required" placeholder="Tell us about it"></textarea>
					<button class="btn-s">SEND<svg viewBox="0 0 59 58" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g fill="none" stroke="#fff" stroke-width="9.38"><path d="M2.688 28.863h50.054M31.231 2.688l24.576 26.175-24.576 26.175"/></g></svg></button>
				</form>
				<h2 class="light-headline-big h1-clone reveal-text">Or you can send us an email at</h2>
				<h2 class="h1-clone"><a href="mailto:unnus@hi.com">hello@unnus.com</a></h2>
			</div>
		</div>
</header>