
<header class="ux-main-header header-home course-home-header">
<div class="container">

			{{ partial "ux-nav.html" . }}

</div>
<div class="container">
	<div class="header-content ux-header">
		<!-- <h1>Cut through the "me too" healthcare brands and </h1> -->
<!-- 				<h1 class="bold">Get Comprhansive UX Report of your page to enhance Your Website <span class="stroked-brush">Experience</span>, Skyrocket Conversions, And Get Comprhansive UX Report For<span class="stroked-brush">$4</span></h1>
 -->				<h1 class="bold">Get Professional UX Critic Of Your Web Pages And Enhance Your Website <span class="stroked-brush">Experience </span>For Only<span class="stroked-brush"> $4</span></h1>

				<p>Get comprhansive user experience critic of how to enhance your page usability from real a UX expert for only $4  </p>
		<ol class="ul-checklist">
			<li>Select the page you want to improve.</li>
			<li>Pay your order.</li>
			<li>Wait 24h to 48h (time where we review and critic your page).</li>
			<li>Once it's ready, we'll email you a PDF UX report of your page.</li>
		</ol>
		<!-- multi step -->
		<a class="gumroad-button" href="https://gum.co/hmSup">

<button class="btn-s btn-1">Review My Page <svg viewBox="0 0 59 58" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g fill="none" stroke="#fff" stroke-width="9.38"><path d="M2.688 28.863h50.054M31.231 2.688l24.576 26.175-24.576 26.175"/></g></svg></button> 
</a>

<a href="#"><button style="background:#000;width:267px;overflow:hidden;margin-left: 2%;" class="btn-s btn-1">Download Sample<svg viewBox="0 0 59 58" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g fill="none" stroke="#fff" stroke-width="9.38"><path d="M2.688 28.863h50.054M31.231 2.688l24.576 26.175-24.576 26.175"/></g></svg></button></a> 

<!-- multi step -->

</div>
</div>

<div class="black-header">

</div>
</header>



<!-- <header class="ux-header header-contact">
		<div class="container">
					{{ partial "navbar.html" .}}
		</div>
		<div class="container">
			<div class="header-content-contact">
				<img class="ux-logo" draggable="false" alt="Four Dollar UX Logo" src="/assets/images/four-dollar-ux-logo.png">
				<h1>Enhance Your Website <span class="stroked-brush">Experience</span>, Skyrocket Conversions, And Get Comprhansive UX Report For<span class="stroked-brush">$4</span></h1>
				<p>Get comprhansive user experience critic of how to enhance your page usability from real UX expert for only $4  </p>
			</div>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">

<input type="hidden" name="cmd" value="_s-xclick">

<input type="hidden" name="hosted_button_id" value="PZBCME9BPDZAY">

<input type="hidden" name="on0" value="Your Web Page">

<input required="required" class="text input-s" type="text"  placeholder="Enter Page URL (ex.com/sales-page)" name="os0" >

<a class="gumroad-button" href="https://gum.co/MNPis">

<button class="btn-s btn-1">Review My Page <svg viewBox="0 0 59 58" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g fill="none" stroke="#fff" stroke-width="9.38"><path d="M2.688 28.863h50.054M31.231 2.688l24.576 26.175-24.576 26.175"/></g></svg></button> 
</a>
</form>
<!-- type="submit"  name="submit" -->
</div>
</header>

 -->