<header class="header-course">
		<div class="container">
			{{ partial "navbar.html" . }}
		</div>

		<div class="header-text">
			<div class="container">
				<!-- <h1 class="reveal-text">Run a medical business that oozes success with this free branding strategies</h1> -->
				<!-- <h1 class="reveal-text">Get clear shared picture of your medical business with this free branding strategies</h1> -->
				<!-- <h1 class="reveal-text">Craft a visceral, grounded medical brand that fosters success with this free series </h1> -->
				<!-- <h1 class="reveal-text">Craft a visceral, grounded medical brand that fosters success with this free tactics </h1> -->
				<!-- <h1 class="reveal-text">Craft a viscerally-felt medical brand that fosters engagements with this free series</h1> -->
<!-- 				<h1 class="reveal-text">Foster patient engagement, take better decisions, and get high sense of mission for your practice with this free strategy series</h1>
 -->				<!-- <h1 class="reveal-text">Get clearly articulated</h1> -->
				<!-- <h1 class="reveal-text">Does your medical business have a high sense of mission?</h1> -->
				<!-- <h1 class="reveal-text">Drive growth to your medical business with proven branding strategies</h1> -->
				<!-- <h1 class="reveal-text">Create high sense of mission for your medical business with this free strategies</h1> -->
				<!-- <h1 class="reveal-text">Build an engaging medical brand and soar up patient retention with proven tactics</h1> -->
				<!-- <h1 class="reveal-text">Create medical brand that has high sense of mission  pulls patients like magnets, unite staff and for free  </h1> -->
				<!-- <h1 class="reveal-text">create an authentic brand that differentiate your medical business with this tactics</h1> -->
				<!-- <h1 class="reveal-text">Bring a sense of direction to your medical business with free strategies</h1> -->
				<!-- <h1 class="reveal-text">To the medical personnel who will settle for nothing less than mission-driven brand</h1> -->
				<h1 class="reveal-text">Bring clarity to your medical business and skyrocket operational efficiency</h1>

			</div>
		</div>
</header>
