
<header class="header-home course-home-header">
<div class="container">

	  {{ partial "navbar.html" . }}

</div>
<div class="container">
	<div class="header-content">
		<!-- <h1>Cut through the "me too" healthcare brands and </h1> -->
		<h1 class="bold">Get Free "Plug n' Play" Exercises To Help You Attract <span class="stroked-brush">Loyal</span> Patients
</h1>
		<p>
			Get our free 6-parts email series that covers:
		</p>
		<ul class="ul-checklist">
			<li>21+ Branding exercises to help attract high-value patients</li>
			<li>How to skyrocket patient retention and build cult-like loyalty</li>
			<li>Differneitate your brand from the "lookalikes"</li>
			<li>How to send your messages straight into people's brains</li>
		</ul>
		<!-- multi step -->
		
<form method="post" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl" class="form-container initial-active-area af-form-wrapper">
<div class="steps-wrapper">
<div class="question-submission af-body af-standards" id="af-body-812149649">
<div class="submission first-step home-header-form">
 <input required="required" placeholder="Your First Name" id="awf_field-108467594"  type="text" name="name" class="text input-s" value=""  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="500" />

  <button class="first next btn-s btn-1">
  	Continue <svg viewBox="0 0 59 58" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g fill="none" stroke="#fff" stroke-width="9.38"><path d="M2.688 28.863h50.054M31.231 2.688l24.576 26.175-24.576 26.175"/></g></svg>
  </button>
</div>

<div class="submission second-step">		
  <input required="required" placeholder="Your Primary Email" class="text tags input-s" id="awf_field-108467595" type="email" name="email" value="" tabindex="501" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " />
  
  <button class="second next btn-s">Get Lesson #1</button>
</div>
</div>
</div>	
<div style="display: none;">
<input type="hidden" name="meta_web_form_id" value="812149649" />
<input type="hidden" name="meta_split_id" value="" />
<input type="hidden" name="listname" value="awlist5746932" />
<input type="hidden" name="redirect" value="https://www.unnus.com/private/acknowledgment" id="redirect_8446ff3eca1bc3243a231d877a368cc9" />

<input type="hidden" name="meta_adtracking" value="" />
<input type="hidden" name="meta_message" value="1" />
<input type="hidden" name="meta_required" value="name,email" />
<input type="hidden" name="meta_forward_vars" value="1" />
<input type="hidden" name="meta_tooltip" value="" />
</div>
</form>
<!-- multi step -->

</div>
</div>

<div style="background:url('/assets/brand-strategy-media/bg.jpg');background-size:cover;box-shadow: 0 13px 20px 5px rgb(0 0 0 / 15%)" class="black-header">

</header>
