
<header class="header-home">
<div class="container">

	  {{ partial "navbar.html" . }}

</div>
<div class="container">
	<div class="header-content">
		<!-- <h1>Cut through the "me too" healthcare brands and </h1> -->
		<h1 class="bold">Set your medical business apart using proven branding strategies</h1>
		<p>
			An overabundance of <b>look-alike medical businesses</b> is forcing patients to search for authentic medical brands. Get our free 5-parts series that <b>arms you with strategies to gain a competitive advantage and differentiate your practice.</b>  
		</p>
		<!-- multi step -->
		
<form method="post" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl" class="form-container initial-active-area af-form-wrapper">
<div class="steps-wrapper">
<div class="question-submission af-body af-standards" id="af-body-812149649">
<div class="submission first-step home-header-form">
 <input required="required" placeholder="Your Name" id="awf_field-108467594"  type="text" name="name" class="text input-s" value=""  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="500" />

  <button class="first next btn-s btn-1">
  	Continue <svg viewBox="0 0 59 58" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g fill="none" stroke="#fff" stroke-width="9.38"><path d="M2.688 28.863h50.054M31.231 2.688l24.576 26.175-24.576 26.175"/></g></svg>
  </button>
</div>

<div class="submission second-step">		
  <input required="required" placeholder="Your Email" class="text tags input-s" id="awf_field-108467595" type="email" name="email" value="" tabindex="501" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " />
  
  <button class="second next btn-s">Sign me up</button>
</div>
</div>
</div>	
<div style="display: none;">
<input type="hidden" name="meta_web_form_id" value="812149649" />
<input type="hidden" name="meta_split_id" value="" />
<input type="hidden" name="listname" value="awlist5746932" />
<input type="hidden" name="redirect" value="https://www.unnus.com/acknowledgment" id="redirect_8446ff3eca1bc3243a231d877a368cc9" />

<input type="hidden" name="meta_adtracking" value="" />
<input type="hidden" name="meta_message" value="1" />
<input type="hidden" name="meta_required" value="name,email" />
<input type="hidden" name="meta_forward_vars" value="1" />
<input type="hidden" name="meta_tooltip" value="" />
</div>
</form>
<!-- multi step -->

</div>
</div>

<div class="black-header">
		<div class="header-testimonial">
			<blockquote>
				<svg class="left-quote" viewBox="0 0 154 137" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path d="M48.874 0L35.026 69.04h19.55v67.086H0V69.04L20.364 0h28.51zm98.562 0l-13.847 69.04h19.549v67.086H98.562V69.04L118.926 0h28.51z" fill="#fff" fill-opacity=".1" fill-rule="nonzero"/></svg>						
				The in-depth knowledge we got from these strategies has been instrumental to our success as a medical practice 
				<svg class="right-quote" viewBox="0 0 154 137" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path d="M104.264 136.126l13.848-69.04h-19.55V0h54.576v67.086l-20.364 69.04h-28.51zm-98.562 0l13.848-69.04H0V0h54.576v67.086l-20.364 69.04H5.702z" fill="#fff" fill-opacity=".1" fill-rule="nonzero"/></svg>				
			</blockquote>

<div class="avatar-testimonial">
	<div class="avatar-image">
	</div>
  <span>— Dr. Ibrahim Coban. Pediatric</span>
</div>					
</div>
</div>
</header>