
<header style="margin-bottom: 15px" class="header-home">
<div class="container">

	  {{ partial "navbar.html" . }}

</div>
<div class="container">
	<div class="header-content">
		<!-- <h1>Cut through the "me too" healthcare brands and </h1> -->
		<h1 class="bold">Attract Loyal Patients And <span class="stroked-brush">Differentiate</span> Your Brand Using These Powerful Strategies</h1>
		<p>
		 Get our free 6-parts series that <b>arms you with strategies to gain a competitive advantage and differentiate your practice.</b>  
		</p>
		<a href="/charismatic-medical-brand">
			<button style="width: 232px;" class="btn-s">Get Lesson #1 <svg viewBox="0 0 59 58" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g fill="none" stroke="#fff" stroke-width="9.38"><path d="M2.688 28.863h50.054M31.231 2.688l24.576 26.175-24.576 26.175"/></g></svg></button>			
		</a>
</div>
</div>

<div style="background:url('/assets/brand-strategy-media/bg.jpg');background-size:cover;box-shadow: 0 13px 20px 5px rgb(0 0 0 / 15%)" class="black-header">

</header>