<header class="ux-header header-contact">
		<div class="container">
					{{ partial "navbar.html" .}}
		</div>
		<div class="container">
			<div class="header-content-contact">
				<img class="ux-logo" draggable="false" alt="One Dollar UX Logo" src="/assets/images/one-dollar-ux.png">
				<h1>Enhance Your Website <span class="stroked-brush">Experience</span>, Skyrocket Conversions, And Get Comprhansive UX Report For<span class="stroked-brush">$1</span> (that's damn near free)</h1>
				<p>Get comprhansive user experience critic of how to enhance your page usability from real UX expert for only $1  </p>
			</div>


			<form name="OneDollarUx" method="POST" data-netlify="true" class="form-container initial-active-area af-form-wrapper">

	<div class="steps-wrapper">
	<div class="question-submission af-body af-standards" id="af-body-812149649">
	<div class="submission first-step home-header-form">
	 <input required="required" placeholder="Your Page URL"  type="text" name="name" class="text input-s"/>

  <button class="first next btn-s btn-1">
  	Continue <svg viewBox="0 0 59 58" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g fill="none" stroke="#fff" stroke-width="9.38"><path d="M2.688 28.863h50.054M31.231 2.688l24.576 26.175-24.576 26.175"/></g></svg>
  </button>
</div>

<div class="submission second-step">		
  <input required="required" placeholder="Your Primary Email" class="text tags input-s" id="awf_field-108467595" type="email" name="email" />
  
  <button class="second next btn-s">Get Lesson #1</button>
</div>
</div>
</div>	
</form>
</div>
</header>