<header class="ux-confirmation header-contact email-confirmation-header">
		<div class="container">
						{{ partial "ux-nav.html" . }}
		</div>
		<div class="container" style="text-align: center;">
			<div  class="ux-thanks header-content-contact">
				<svg width="236" height="183" viewBox="0 0 236 183" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_d)">
<path d="M11 102.291L56.2387 148.215C59.3723 151.396 64.5034 151.396 67.637 148.215L190 24" stroke="#32BA7C" stroke-opacity="0.65" stroke-width="21" stroke-linecap="round"/>
</g>
<defs>
<filter id="filter0_d" x="0.5" y="0.5" width="235" height="181.6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
<feOffset dx="18" dy="4"/>
<feGaussianBlur stdDeviation="8.5"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.196078 0 0 0 0 0.729412 0 0 0 0 0.486274 0 0 0 0.17 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
</filter>
</defs>
</svg>

				<h1>Thank You, your order has been received. One of our experts is revewing your page right now.</h1>
				 <p><b>Note:</b> We’ll soon email you a PDF UX report of your page (within the next <b>24h</b> to <b>48h</b>). </p>
				 <p>So, keep an eye for an email like this:</p>
			</div>
				<img  style="box-shadow: 0 10px 50px rgba(25, 37, 52, 0.10), 0 2px 5px rgba(25, 37, 52, 0.03);" class="Econfirmation-screenshot" src="/assets/images/ux-thank-you.webp" alt="screenshot of an example email">
				<br><br>
				<p>Have questions regarding your order? email us at hello@unnus.com</p>
		</div>
</header>
