<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "privte-head.html" . }}

  <!-- use the same parent template but include different header to each static page -->
	{{ if eq $.Page.Params.which "acknowledgment" }}
	  {{ partial "headers/acknowledgment-header.html" . }}
	  {{ partial "sidebar.html" . }}
	  {{ partial "goup.html" . }}

	{{ end }}

	{{ if eq $.Page.Params.which "brand-intensive" }}
	  {{ partial "headers/brand-intensive-header.html" . }}
	  {{ partial "sidebar.html" . }}
	  {{ partial "goup.html" . }}

	{{ end }}

  <body>

		{{ .Content }}

	<script type="text/javascript" src="/assets/js/stickyFormPolyfill.js"></script>
	<script type="text/javascript" src="/assets/js/drawsvgplugin.js"></script>
	<script type="text/javascript" src="/assets/js/splitText.js"></script>
	<script type="text/javascript" src="/assets/js/ScrollTrigger.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
	<script type="text/javascript" src="/assets/js/main.js"></script>

  </body>
</html>
